doctype html
html(lang="en")
  head
    title Bienvenido a mi Pagina
  body
    form(action="/testPost", method="post")
      input(id="first_name", name="first_name", type="text")
      input(id="last_name", name="last_name", type="text")
      button(type="submit", value="Enviar") Enviar